<!--

<div class="texto">
  <h1>{{nombre| titlecase}}</h1>
  <!--esto de los pipes es solo para la visualizacion de la informacion
  para el manejo de la misma no se toma en cuenta
  <h1>{{valor | number}}</h1>
</div>



<button pButton 
        (click)="MostrarNombre()"
        label="Cambiar Nombre"
        class="p-button-help"
        icon="pi pi-check"
        iconPos="right">
</button>

<p-card [header]="nombre | titlecase"
        subheader="esto es el subtitulo">
        hola como estan 
</p-card>
-->


<app-menu></app-menu>