<div class="texto-layout">
    <h1>Pipes Personalizados</h1>
    <p> Pipes creados por {{ "nosotros" | mayusculas:enMayusculas }} </p>
</div>


<p-toolbar>
    <div class="p-toolbar-group-left"></div>
    
    <div class="p-toolbar-group-right">
        <button pButton 
                label="cambiar palabra" 
                class="p-mr-1 p-button-warning" 
                (click)="hola()"> </button>
                <!-- el p-mr-1 quiere decir prime margin right 1 ya que es para la separacion entre botones -->
        <button pButton
                icon="pi pi-sort"
                label="Por nombre"
                (click)="cambiarOrden('nombre')"
                class="p-mr-1"></button>


        <button pButton
                icon="pi pi-sort"
                label="Vuela"
                (click)="cambiarOrden('vuela')"
                class="p-mr-1 p-button-success"></button>


        <button pButton
                icon="pi pi-sort"
                label="Por color"
                (click)="cambiarOrden('color')"
                class="p-mr-1 p-button-help"></button>
    </div>
</p-toolbar>



<div class="p-grid">
    <div class="p-col p-mt-2">
        <p-table [value]="heroes | ordenar:ordenarPor">
            <!-- antes de que se rendericen los heroes el pipe ordenar los retorna -->
            <!-- el valor que le enviaremos tiene que ser una arreglo -->
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <!-- let es la declaracion de variables del ecmascript 6 (javascript) -->
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | volar | titlecase}}</td>
                    <!-- se puede encadenar varios pipes -->
                    <td>{{heroe.color|color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<div class="p-grid">
    <div class="p-col p-mt-2">
        <p-table [value]="heroes | slice:0">
            <!-- le enviamos una copia con el slice:0 para que no modifique la tabla anterior-->
            <!-- antes de que se rendericen los heroes el pipe ordenar los retorna -->
            <!-- el valor que le enviaremos tiene que ser una arreglo -->
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                    <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <!-- let es la declaracion de variables del ecmascript 6 (javascript) -->
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | volar | titlecase}}</td>
                    <!-- se puede encadenar varios pipes -->
                    <td>{{heroe.color|color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>